/* Tailwind only */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-fade-in-out {
        animation: fade-in-out 2s ease-in-out forwards;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    15% {
        opacity: 1;
        transform: scale(1);
    }

    85% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}